<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Project 3 - De Ceuvel</title>
    <link rel="stylesheet" href="style.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,900" rel="stylesheet">
</head>

<body>
    <nav class="navigatie">
        <img class="logo"src="afbeeldingen/CeuvelLogo.png">
        <div class="nav-hex-container">
            <a href="#electriciteit">
                <div class="hexagon-electricity">
                    <div class="hexTop"></div>
                    <div class="hexBottom"></div>
                </div>
            </a>
            <a href="#kruiden">
                <div class="hexagon-plant">
                    <div class="hexTop"></div>
                    <div class="hexBottom"></div>
                </div>
            </a>
            <a href="#vis">
                <div class="hexagon-fish">
                    <div class="hexTop"></div>
                    <div class="hexBottom"></div>
                </div>
            </a>
        </div>
        <a href="#" class="close">X</a>
    </nav>
<div class="content-container">
    <img class="logo"src="afbeeldingen/CeuvelLogo.png">
    <div class="intro">
        <!-- <h1>De Ceuvel Insight</h1> -->
        <h2>De nutriëntenkringloop op De Ceuvel laat op een creatieve manier de waarde van afval materialen & nutriënten zien. De groentekas produceert groenten en kruiden voor Café de Ceuvel door middel van een aquaponics systeem met vissen en planten.</h2>
        <h3><i>Klik op de onderstaande iconen om meer te weten te komen</i></h2>
    </div>
    <div class="hex-container">
        <a href="#electriciteit">
            <div class="hexagon-electricity">
                <div class="hexTop"></div>
                <div class="hexBottom"></div>
            </div>
        </a>
        <a href="#kruiden">
            <div class="hexagon-plant">
                <div class="hexTop"></div>
                <div class="hexBottom"></div>
            </div>
        </a>
        <a href="#vis">
            <div class="hexagon-fish">
                <div class="hexTop"></div>
                <div class="hexBottom"></div>
            </div>
        </a>
    </div>
    <div class="image-container">
        <div></div>
        <img src="http://deceuvel.nl/wp-content/uploads/2016/08/SolarEnergy-800x800.jpg">
        <img src="afbeeldingen/planten.jpg">
        <img src="afbeeldingen/fotoVis.jpg">
    </div>
</div>
    <div id="electriciteit" class="info-section">
    <section class="content">
        <article>
            <h1>Zonnepanelen</h1>
            <h3>De Ceuvel is uitgerust met meer dan 150 fotovoltaïsche (PV) panelen die energie opwekken met behulp van de zon. De panelen zijn op de meerderheid van de boten geïnstalleerd en wekken gemiddeld 36.000 kWh per jaar op.

                    Dit is genoeg om de kantoren te voorzien van stroom voor de warmtepompen en deels voor de overige energiebehoefte van de kantoren. De rest van de stroom wordt geleverd door een groene energie leverancier.
            </h3>
            <h3 class="dik"> Momenteel genereren alle zonnepanelen gezamenlijk <span id="data-electriciteit"></span> kwh electriciteit</h3>
            <h3 class="dik"> Omgerekend wordt er hierdoor momenteel <span id="omgerekend"> €17,64</span> per uur aan energiekosten bespaart</h3>
            <h3 class="dik"> Op jaarbasis wordt er gemiddeld <span id="totaal"> €7.232,4 </span> aan energiekosten bespaart</h3>
        </article>
        <img src="afbeeldingen/solar.jpg">
    </section>
    </div>
    <div id="kruiden" class="info-section">
    <section class="content">
        <article>
            <h1>Groentekas</h1>
            <h3>De groentekas op Metabolic Lab is een sleutelonderdeel voor het sluiten van de nutriëntenkringloop op De Ceuvel. De groentekas produceert groenten en kruiden voor Café de Ceuvel door middel van een aquaponics systeem met vissen en planten.

                    De stikstofrijke uitscheiding van de vissen worden door de planten afgebroken in nutriënten, en de planten leveren schoon water weer terug aan de vissen. Zo ontstaat een natuurlijke symbiose. De inputs voor het systeem bestaan alleen uit een beetje stroom om het water rond te pompen en verder uit natuurlijke nutriënten voor de vissen zoals wormen uit de compostbakken. In de toekomst zullen we ook gaan experimenteren met zeewier en insecten.
            </h3>
            <h3 class="dik">Momenteel is er:</h3>
            <h3 class="dik"> <span id="totaal-kruiden">345 kg</span> kruiden geproduceerd</h3>
            <h3 class="dik"> <span id="totaal-bloemen">127 kg</span> eetbare bloemen geproduceerd</h3>
            <h3 class="dik"> <span id="totaal-sla"> 313 kg</span> sla geproduceerd</h3>
            <h3 id="data-planten"></h3>
        </article>
        <img src="afbeeldingen/plants.jpg">
    </section>
    </div>
    <div id="vis" class="info-section">
    <section class="content">
        <article>
            <h1>Afrikaanse Meerval</h1>
            <h3>
                De afrikaanse meerval is een belangrijk onderdeel van de nutriëntenkringloop. Onder de groentekas staat een basin die ieder jaar met 10 meervallen gevult wordt. De meerval produceert belangrijke voedinsstoffen voor de planten en kruiden in de groentekas. Doormiddel van een waterpomp wordt het water naar de groentekas gebracht om daar de planten te voeden. Vervolgens wordt het water opgevangen en komt het weer in het basin terecht. 
            </h3>
            <h3 class="dik"> Aan het eind van de zomer worden de<span id="data-vis"> 10 </span>meervallen gebruikt voor speciale gerechten</h3>
            <!-- <h3 class="dik"> Omgerekend wordt er hierdoor momenteel <span id="aantal"></span> per uur aan energiekosten bespaart</h3> -->
            <h3 id="data-vis"></h3>
        </article>
        <img src="afbeeldingen/catfish2.jpg">
    </section>
    </div>
    

<script src="/socket.io/socket.io.js"></script>
<script>
    var close = document.querySelector('.close')
    var hexagons = document.querySelectorAll('.content-container a')
    var navMenu = document.querySelector('.navigatie')

    for (i = 0; i < hexagons.length; i++) { 
    hexagons[i].addEventListener('click', function () {
        navMenu.classList.add('show')
    })
    }

    close.addEventListener('click', function () {
        navMenu.classList.remove('show')
    })

    var url = "http://127.0.0.1:5500/"   
     
    if( location.href ===  "#vis" || "#electreiciteit" || "#kruiden"){
        navMenu.classList.add('show') 
    }     
    
    if(location.href =  "#" + " "){
        navMenu.classList.remove('show') 
    }  
    
    var electriciteit = document.getElementById('data-electriciteit')
    var omgerekend = document.getElementById('omgerekend')
    var socket = io();
    socket.on("data", function(json){
        console.log(json);
        // console.log(json.main[1]);
        // var watt = json.main[1] += json.main[2] += json.main[0]
        var watt = json.solar

        watt = watt.toFixed(0)
        
        var watt = watt * "-1" * 14
        watt = watt / 1000 

        electriciteit.innerHTML = watt

        watt = watt * 0.2009
        watt = watt.toFixed(2)
        omgerekend.innerHTML = "€" + watt + ",-"
    })
</script>

</body>
</html>